@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-emerald: #046307;
  --color-sand: #F4F1EA;
  --color-navy: #002D62;

  --color-primary: var(--color-gold);
  --color-primary-dark: #b5952f;
  --color-secondary: var(--color-emerald);
  --color-background-soft: var(--color-sand);

  --font-sans: "Cairo", sans-serif;
  --font-arabic: "Amiri", serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[var(--color-sand)] text-[var(--color-navy)] antialiased font-sans;
  }
}

@layer utilities {
  .glass-effect {
    @apply bg-white/80 backdrop-blur-md border border-[var(--color-sand)] shadow-2xl;
  }

  .bg-arabesque {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d4af37' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}